.sidebar {
    background-color: #252525;
    width: 50px; 
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden; 
    transition: width 0.3s ease; 
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.sidebar.show {
    width: 200px; 
}

.name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    transition: opacity 0.3s ease;
   
}

.onepiece {
    border-radius: 50%;

}

.name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    transition: opacity 0.3s ease;
}

.bio {
    display: none; 
}

.sidebar.show .bio {
    display: block;
}

.list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    position: absolute;
    left: 0; 
    top: 100px; 
    width: 100%; 
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.list.show {
    transform: translateX(50px); 
}

.list li {
    margin: 5px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #252525;
    width: 100%; 
    transition: background-color 0.7s;
    border-radius: 4px;
    padding: 10px;
}

.list li:hover {
    background-color: #1A1A1A;
}

.list img {
    width: 30px; 
    height: 30px;
    transition: opacity 0.3s ease; 
}

.sidebar:not(.show) .name,
.sidebar:not(.show) .bio {
    display: none; 
}

.sidebar:not(.show) .list {
    align-items: center;
}

.sidebar:not(.show) .list li {
    display: flex;
    align-items: center;
}

.sidebar:not(.show) .list img {
    display: block;
}

.sidebar:not(.show) .list span {
    display: none; 
}
